* {
	font-family: 'Coda', cursive !important; 
}

.fa {
font-family: FontAwesome !important;
}

.left {
	text-align: left;
}

.loading {
  width: 100%;
  margin: auto auto;
  display: table;
  text-align: center;
}

.codeStyle {
	background: black;
	word-wrap: break-word;
	text-align: left;
	margin: 0.2em;
}

.scroller, .hljs.c, .scroller-wrapper, .full-screen {
	background: black;
}

pre {
	font-size: 85%;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	padding: 0;
	margin: 0;
}

.list {
	font-size: 55%;
}

.list__item {
	padding: 0 0 0 0;
	min-height: 36px;
	line-height: 36px;
	border-bottom: 0px;
}

.list__item:first-child {
	padding-left: 0;
	margin: 0;
}

.list__item:last-child {
	padding-left: 0;
	margin: 0;
}

.myStyle {
	color: white;
}

.active {
	color : white;
	background-color: green;
}

.page__content {
background-color: #292a2e !important;
}