<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>La Penetrada</title>

		<link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
		<link rel="stylesheet" href="styles/onsen-css-components.min.css">
		<link rel="stylesheet" href="styles/app.css"/>
		<link rel="stylesheet" href="styles/hybrid.css"/>
		<link rel="stylesheet" href="styles/font-mfizz.css"/>
		<link rel="stylesheet" href="styles/font-awesome.min.css"/>

		<!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">-->

		<script src="js/highlight.pack.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/date.js"></script>
		<script src="js/b64.js"></script>
		<script type="text/javascript" src="js/jszip.min.js"></script>
		<script src="lib/onsen/js/angular/angular.js"></script>
		<script src="lib/onsen/js/onsenui.js"></script>
		<script src="js/angular-highlightjs.min.js"></script>

		<script src="cordova.js"></script>
		<script src="js/angularjs-base64.js"></script>
		<script src="app.js"></script>
		<script>
			ons.ready(function() {
			});
			StatusBar.overlaysWebView(true);
		</script>
	</head>

	<body>
		<ons-navigator ng-controller="MasterController" var="pgNavigator">
			<ons-page style="background-color: #f9f9f9">
				<div class="loading" ng-show="isLoadingData">
					<ons-icon class="center" icon="cog" spin="true"></ons-icon>
					<span class="center">Downloading the latest data...</span>
				</div>
				<ons-toolbar>
					<div class="left">
						<ons-toolbar-button>
							<ons-icon id="helpButton" icon="question" ng-click="showHelp()">
						</ons-toolbar-button>
					</div>
					<div class="center">
						Exploits
					</div>
					<div class="right">
						<ons-toolbar-button>
							<ons-icon icon="file-archive-o" ng-click="bundleFiles()">
						</ons-toolbar-button>
					</div>
				</ons-toolbar>
				<ons-list>
					<div data-ng-repeat="(platform, exploits) in groups">
						<ons-list-header>
							{{platform}}
						</ons-list-header>
						<ons-list-item ng-repeat="exploit in exploits" >
							<ons-row>
								<ons-col>
									<p ng-class="{'myStyle': !isActive, 'myStyle active': isActive}" ng-init="isActive = false" ng-click="isActive = !isActive; toggleSelect(exploit,isActive)" style="font-size:100%; margin: 0; padding-left: 11px;">
										{{exploit.description}}
									</p>
								</ons-col>
								<ons-col width="40px" ng-click="showDetail(platform,$index)">
									<i class="fa fa-arrow-right" style="font-size:100%; padding-left: 50%;"></i>
								</ons-col>
							</ons-row>
						</ons-list-item>
					</div>
				</ons-list>
			</ons-page>
		</ons-navigator>

		<script type="text/ons-template" id="loading.html">

		</script>

		<script type="text/ons-template" id="detail.html">
			<ons-page ng-controller="DetailController" style="background-color: #f9f9f9;">
			<ons-toolbar>
			<div class="left"><ons-back-button>Back</ons-back-button></div>
			<div class="center">{{exploit.description}}</div>
			</ons-toolbar>
			<ons-list class="exploitList">
			<ons-list-header>
			<ons-row>
			<ons-col class="left">
			<i class="icon-{{exploit.platform}} fa fa-{{exploit.platform}}" style="font-size:100%"></i>
			</ons-col>
			<ons-col class="left">
			{{exploit.platform}}
			</ons-col>
			<ons-col class="left">
			{{exploit.type}}
			</ons-col>
			<ons-col class="left">
			port: {{exploit.port}}
			</ons-col>
			</ons-row>
			</ons-list-header>
			<div hljs class="XCode" source='exploit.code'>
			</div>
			</ons-page>
		</script>

		<script type="text/ons-template" id="help.html">
			<ons-page style="background-color: #f9f9f9;">
			<ons-toolbar>
			<div class="left"><ons-back-button>Back</ons-back-button></div>
			<div class="center">About</div>
			</ons-toolbar>
			<div id="about">
			<p>
			SecMate is an AppMoFo app, style as a pocket reference for the busy IT security professional.
			</p>
			<p>
			Quickly view IT security exploits from the past 30 days and get the code you need to test for it.
			</p>
			</div>
			<div id="faq">
			<p>
			Click the zipper to bundle all the items in one archive, otherwise click the descriptions to select the ones you want.<br/>
			Click on the chevron to view the code.
			</p>
			</div>
			</ons-page>
		</script>
	</body>
</html>
